In [2]:
### DB
# 관계형(RDBMS)
#   대형: 오라클, 사이베이스, DB2, 인포믹스,...
#   중형: sqlserver, mysql, maria
#   소형: sqlite, access
# 비관계형(no sql)
#   json형태로 저장(dictionary형식)
#   빅데이터에 주로 사용
#   몽고, reds, 카산드라,...
#
#  DB -> table
#
# sqlite browser 설치
#    http://sqlitebrowser.org/

In [4]:
### sqlite3

import sqlite3

def createTable():
    # db가 없으면 생성후 open
    # db가 있으면 open
    try:
        db = sqlite3.connect('data/my.db')
        sql = 'create table student(name varchar(20), age int)'
        db.execute(sql)
        db.commit()           # 취소는 rollback
        db.close()
        print("생성 성공")
    except Exception as err:
        print("실패:", err)

In [13]:
def insertTable():
    try:
        sql = "insert into student(name, age) values(?, ?)"
        db = sqlite3.connect('data/my.db')
        # 데이터 포맷
        data = ('홍길동',30)
        db.execute(sql, data)
        # 여러 데이터 추가
        datas = [('김철수1',20),('김철수2',30),('김철수3',40)]
        db.executemany(sql, datas)
        db.commit()           # 취소는 rollback
        db.close()
        print("추가 성공")
    except Exception as err:
        print("실패:", err)

In [14]:
insertTable()

추가 성공

In [17]:
def selectTable():
    try:
        sql = "select * from student"
        db = sqlite3.connect('data/my.db')
        cur = db.cursor()
        cur.execute(sql)
        data = cur.fetchall()
        db.commit()
        db.close()
        print("가져오기 성공")
        print(data)
        for n,a in data:
            print(n,a)
    except Exception as err:
        print("실패:", err)

In [38]:
### cursor이용

def selectTable2():
    try:
        sql = "select * from student"
        db = sqlite3.connect('data/my.db')
        cur = db.cursor()
        cur.execute(sql)
        for n,a in cur:
            print(n,a)
        db.commit()
        db.close()
        print("가져오기 성공")
    except Exception as err:
        print("실패:", err)

In [36]:
### 정렬된 데이터

def selectTable3():
    try:
        sql = "select * from student order by name"
        db = sqlite3.connect('data/my.db')
        cur = db.cursor()
        cur.execute(sql)
        for n,a in cur:
            print(n,a)
        db.commit()
        db.close()
        print("가져오기 성공")
    except Exception as err:
        print("실패:", err)

In [37]:
selectTable()
print('-'*80)
selectTable2()
print('-'*80)
selectTable3()

가져오기 성공
[('홍길동', 30), ('김철수6', 20), ('김철수3', 40)]
홍길동 30
김철수6 20
김철수3 40
--------------------------------------------------------------------------------
홍길동 30
김철수6 20
김철수3 40
가져오기 성공
--------------------------------------------------------------------------------
김철수3 40
김철수6 20
홍길동 30
가져오기 성공

In [32]:
def updateTable():
    try:
        sql = "update student set name='김철수6',age=20 where name='김철수2'"
        db = sqlite3.connect('data/my.db')
        #db.execute(sql)
        cur = db.cursor()
        cur.execute(sql)
        print("수정갯수:", cur.rowcount)
        db.commit()           # 취소는 rollback
        db.close()
        print("수정 성공")
    except Exception as err:
        print("실패:", err)

In [33]:
updateTable()
selectTable()

수정갯수: 1
수정 성공
가져오기 성공
[('홍길동', 30), ('김철수5', 20), ('김철수6', 20), ('김철수3', 40)]
홍길동 30
김철수5 20
김철수6 20
김철수3 40

In [34]:
def deleteTable():
    try:
        sql = "delete from student where name='김철수5'"
        db = sqlite3.connect('data/my.db')
        cur = db.cursor()
        cur.execute(sql)
        print("삭제갯수:", cur.rowcount)
        db.commit()           # 취소는 rollback
        db.close()
        print("삭제 성공")
    except Exception as err:
        print("실패:", err)

In [35]:
deleteTable()
selectTable()

삭제갯수: 1
삭제 성공
가져오기 성공
[('홍길동', 30), ('김철수6', 20), ('김철수3', 40)]
홍길동 30
김철수6 20
김철수3 40